/* ------------------------------- Newsletter ------------------------------- */

.newsletter {
  overflow: visible;

  @media (max-width: 1100px) {
    padding-top: 80px;
  }

  &__wrapper {
    max-width: 1260px;

    padding: 60px 80px;

    margin: 0 auto;

    background: #ffffff;

    transform: translateY(112px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 26px;

    @media (max-width: 1300px) {
      padding: 60px 40px;

      gap: 60px;
    }

    @media (max-width: 1100px) {
      transform: none;
      flex-direction: column;
      align-items: flex-start;

      padding: 40px;
    }

    @media (max-width: 680px) {
      padding: 40px 20px;
    }
  }

  &__title {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: clamp(2.5rem, 2.2rem + 1.5vw, 4rem);
    line-height: clamp(3.313rem, 2.913rem + 2vw, 5.313rem);
    color: #767e86;

    white-space: nowrap;

    @media (max-width: 680px) {
      white-space: normal;
    }
  }
}

.newsletter-form {
  display: flex;
  align-items: flex-end;
  gap: 32px;

  @media (max-width: 1100px) {
    width: 100%;
    justify-content: space-between;
  }

  @media (max-width: 680px) {
    flex-direction: column;
  }

  &__email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @media (max-width: 1100px) {
      width: 100%;
    }

    label {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.2;
      color: #767e86;
    }
  }

  &__input {
    width: 372px;

    padding: 24px 40px;

    background: #ffe8d4;

    display: flex;
    align-items: center;

    border-radius: 12px;

    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    color: var(--primary-color);

    @media (max-width: 1100px) {
      width: 100%;
    }
  }

  &__input::placeholder {
    color: var(--primary-color);

    opacity: 1;
  }

  &__input:-ms-input-placeholder {
    color: var(--primary-color);
  }

  &__input::-ms-input-placeholder {
    color: var(--primary-color);
  }

  &__button {
    width: 163px;
    height: 73px;

    padding: 16px 40px;

    background: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;

    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #ffffff;

    @media (max-width: 680px) {
      width: 100%;
    }
  }
}

/* ------------------------------- /Newsletter ------------------------------- */
